################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ConsoleApp5/.vs/ConsoleApp5/FileContentIndex
